/* 
    #3a2620
    #aa9581 - Beaver
    #416a8e - Lapis Lazuli
    #7a9fc2 - Air superiority blue
    #ffffff - white
    #000000 - black
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variables */

:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #3a2620;; /* dark brown */
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --light-hightlight: #7a9fc2;
}

/* General Style rules */

body {
    font-family: var(--primary-font);
    
}

h1,
h2, 
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* Buttons */

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-empty {
    border: 2px solid var(--highlight-color);
    
    padding: 7px 25px;
    color: var(--highlight-color);
    transition-duration: 0.4s;
    border-radius: 5%;
}

.custom-button-empty:hover {
    background-color: var(--highlight-color);
    color: white;
}
/* grid visualisation CSS for testing */

/* .row {
    border: 2px solid black;

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* Navigation */

.icon1 {
    height: 30px;
    width: 30px;
    color: white;
}



#navbar {
    background-color: var(--primary-color);

}

/* Header */

#header .lead {
    font-family: var(--secondary-font)
}



/* Services */

#Services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;

}

#Services .card {
   margin-bottom: 1.5rem; 
}

/* Events */

#events-list .table {
    background-color: transparent;
}

#events-list table td:hover {
    background-color: var(--highlight-color);
}

/* Game Library */

/* New games */
#new-games .card {
    min-height: 450px;
}

/* Favourite games */
#fav-games .card {
    min-height: 475px;
}

/* Reserve Form */
#reserve form input {
    width: 100%;
}


/* Footer */

#Contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 5px;
}

#Contact h2 {
    color: white;
}

#Contact .sub-heading-color {
    color: var(--light-hightlight);
}

#Contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#Contact .social-links i {
    color: var(--light-hightlight);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#Contact .social-links i:hover {
    color: var(--secondary-color);
}

#Contact .table-dark * {
    background-color: transparent;
}

/* Media Queries */
/* For Medium Screen Sixes */
@media screen and (min-width: 768px) {
    /* Ensuring all services are the same height */
    #Services .vard-body {

        min-height: 191px;
    }

    

/* For Large Screen Sixes */
@media screen and (min-width: 992px) {
    /* Ensuring all services are the same height */
    #Services .vard-body {

        min-height: auto;
    }
}

/* For XL Screen Sixes */
@media screen and (min-width: 1200px) {
    /* Ensuring all services are the same height */
    #Services .vard-body {

        min-height: 220px;
    }
}

/* For XXL Screen Sixes */
@media screen and (min-width: 1400px) {
    /* Ensuring all services are the same height */
    #Services .vard-body {

        min-height: 195px;
    }
}