/* 
    #3a2620
    #aa9581 - Beaver
    #416a8e - Lapis Lazuli
    #7a9fc2 - Air superiority blue
    #ffffff - white
    #000000 - black
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variables */

:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #3a2620;; /* dark brown */
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --light-hightlight: #7a9fc2;
}

/* General Style rules */

body {
    font-family: var(--primary-font);
    
}

h1,
h2, 
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}



.sub-heading-color {
    color: var(--highlight-color);
}


.icon1 {
    height: 30px;
    width: 30px;
    color: white;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* grid visualisation CSS for testing */

/* .row {
    border: 2px solid black;

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
*/

/* Navigation */

#navbar {
    background-color: var(--primary-color);

}