/* 
    #3a2620
    #aa9581 - Beaver
    #416a8e - Lapis Lazuli
    #7a9fc2 - Air superiority blue
    #ffffff - white
    #000000 - black
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

/* CSS Variables */

:root {
    --primary-font: 'Inter', sans-serif;
    --secondary-font: 'Macondo', cursive;
    --primary-color: #416a8e; /* blue */
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --light-hightlight: #7a9fc2;
}

body {
    font-family: var(--primary-font);

}

h1,
h2, 
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}



.sub-heading-color {
    color: var(--highlight-color);
}


.icon1 {
    height: 10px;
    width: 10px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
